/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* menu title */
#menu-title {
  font-size: 36px;
  color: #515151;
  text-align: center;
  text-decoration: underline;
}

.sidenav span {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  transition: 0.3s;
  display: block;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgb(255, 0, 0);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/*main feed stuff*/
#feed {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

h1 {
  display: table;
  margin: auto;
  text-align: center;
  padding-bottom: 10%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/*settings stuff*/
.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

#username,
#password {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 8px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #818181;
}

.info {
  font-size: 64px;
  margin: auto;
}

.change {
  color: white;
  margin: 8px;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
  background-color: #818181;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: transparent;
  border-radius: 15px;
  padding: 12px 32px;
  width: 200px;
  text-align: center;
}

.change:hover {
  opacity: 0.8;
  color: white;
}

.fileUpload {
  text-align: center;
  margin: 10px;
}
